{% for file in files %}
<article
    class="thumb"
    tabindex="0"
    role="button"
    aria-pressed="false"
    data-file-path="{{ file['file_path']|e }}"
    data-meta=''
    data-id="{{ file['id'] }}"
    data-hash="{{ file['file_hash'] }}"
    onclick="if(event.target.type !== 'checkbox') showModal(this)"
    onkeydown="if(event.key==='Enter' || event.key===' ') { showModal(this); event.preventDefault(); }"
    style="position: relative;"
>
    <label class="thumb-checkbox-label" style="position: absolute; top: 6px; left: 6px; z-index: 2; display: none;">
        <input type="checkbox" class="thumb-checkbox" data-id="{{ file['id'] }}" aria-label="Select image" tabindex="0" />
        <span class="custom-checkbox"></span>
    </label>
    <img
        src="/thumb/{{ file['id'] }}?v={{ file['file_hash'] }}&h=256"
    alt="Image thumbnail for {{ file['file_path'].split('/')[-1] }}"
    onerror="this.onerror=null;this.src='/static/placeholder.svg';"
        loading="lazy"
    />
    <div class="meta">
        <div class="filename" title="{{ file['file_path'].split('/')[-1] }}">{{ file['file_path'].split('/')[-1] }}</div>
        <div class="last-scanned" title="Last scanned date">{{ file['last_scanned'] }}</div>
    </div>
</article>
{% endfor %}
